{% extends 'layout.html' %}
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="">
    <h5>Crear Valor</h5>
    <form action="/insertValues" method="POST">
        <label for="idpregunta">Selecciona la respuesta a la cual se agregara el valor</label>
        <select name="idoption" class="" id="">
            {% for respuesta in respuestas %}
            <option value="{{ respuesta.0 }}">
                {{ respuesta.2 }}
                {% endfor %}
            </option>
        </select>
        <label for="segmento">Caracteristica</label>
        <textarea class="form-control" name="segmento" id="segmento" rows="2"></textarea>
        <label for="valor">Valor</label>
        <textarea class="form-control" name="valor" id="valor" rows="2"></textarea>
        
        <div class="">
            <button class="form-control btn btn-primary btn-block" type="submit" name="Boton"
                id="Boton">Guardar</button>
        </div>
    </form>
</div>
<div>
    <a href="/optionForm" class="" id="">Volver a respuestas del formulario</a>
</div>
{% endblock %}
